{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soluciones en Informática. La filosofía de Api no es solamente el Soporte Técnico en Tecnologías de la Información, Redes y Telecomunicaciones; sino también, y de una manera importante, brindar el mejor servicio de atención a todos nuestros prospectos y clientes.
            Soporte Técnico TI. </p>
        <p>Para una consultoría dedicada al Servicio Informático, la mejor carta de presentación son soluciones proyectadas en: escalabilidad, fiabilidad y seguridad.</p>
            
        <br>
        <p><b>Teléfono:</b> +52 7211121974</p>
        <p><b>Honorarios:</b> 800€/h (precio base)</p>
    </div>
</div>
{% endblock %}

